<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark gradient-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Tick Tac Toe</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link active" aria-current="page" href="/">
                        <div>
                            <i class="fa-solid fa-house"></i>
                        </div>
                        Home
                    </a>
                </li>
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link active" href="/game">
                        <div>
                            <i class="fa-solid fa-gamepad"></i>
                        </div>
                        Tạo bàn
                    </a>
                </li>
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link active" href="/rank">
                        <div>
                            <i class="fa-solid fa-ranking-star"></i>
                        </div>
                        Bảng xếp hạng
                    </a>
                </li>
            </ul>

            <!-- Right links -->
            <div class="profile text-end">
                <div class="profile-user">
                    <!-- Add your profile-user content here -->
                </div>
                {{#if username}}
                <a href="/user/signout" class="btn btn-danger btn-custom mt-1"><i class="fa-solid fa-right-from-bracket"></i>
                    Logout</a>
                {{else}}
                <a href="/authorization/" class="btn btn-success btn-custom mx-2"><i class="fa-solid fa-sign-in"></i>
                    SignIn</a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>
<!-- Navbar -->
