<div class="container">
    <div id="background">
        <div id="board-game">
            <div class="player-section center-left">
                <div class="player-info ">
                    <label class="username">kakaka</label>
                    <div class="turn-game">Lượt của bạn</div>
                </div>
            </div>
            <div class="player-section center-right right">
                <div class="player-info active">
                    <label class="username">kakaka</label>
                    <div class="turn-game">Lượt của đối thủ</div>
                </div>
            </div>
            <div class="player-section center-pos right"></div>
            <h1 id="playerText" class="text-center text-gradient">Tic Tac Toe</h1>
            <button id="restartBtn">Restart</button>
            <div id="gameboard" class="game-bg center-pos">
                <div class="chess" id="0"></div>
                <div class="chess" id="1"></div>
                <div class="chess" id="2"></div>
                <div class="chess" id="3"></div>
                <div class="chess" id="4"></div>
                <div class="chess" id="5"></div>
                <div class="chess" id="6"></div>
                <div class="chess" id="7"></div>
                <div class="chess" id="8"></div>
            </div>
        </div>
        <div id="chat-game"></div>
    </div>
</div>
<script src="../public/js/gameLogic.js">
</script>