<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h3>Online users</h3>
            <div class="container" style="height: 400px; overflow-y: scroll;">
                <ul class="list-group" style="overflow-y: scroll;">

                    <li class="list-group-item" id="username">{{username}}</li>
                    

                </ul>
            </div>
            <h3>Online games</h3>

            <div class="container" style="height: 400px; overflow-y: hidden;">
                <ul class="list-group" style="overflow-y: scroll;">

                    <li class="list-group-item">
                        <a href="#" style="text-decoration: none; color:black">Game1</a>
                    </li>
                    
                    
              
                </ul>
            </div>

        </div>
        <div class="col-md-6">
            <h1>Board goes here</h1>
            {{> board}}
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
    const client = io();
    const username = $("#username").html()
    client.emit('player-has-online', username);

    client.on('update-player-online-list', (data) => {
        let playerOnlineList = data.map((player) => {
            return `<li class="clearfix">
                    <img src="${player.avatar}" class="avatar">
                    <div class="about">
                        <div class="name">${player.nickname}</div>
                        <div class="status online">Online</div>
                    </div>
                </li>`
        });
        $('#player-online-list').html(playerOnlineList.join(''));
    });
</script>