<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h3>Online users</h3>
            <div class="container" style="height: 400px; overflow-y: scroll;">
                <ul class="list-group" style="overflow-y: scroll;">

                    <li class="list-group-item">username</li>
                    <li class="list-group-item">username</li>
                    

                </ul>
            </div>
            <h3>Online games</h3>

            <div class="container" style="height: 400px; overflow-y: hidden;">
                <ul class="list-group" style="overflow-y: scroll;">

                    <li class="list-group-item">
                        <a href="#" style="text-decoration: none; color:black">Game1</a>
                    </li>
                    
                    
              
                </ul>
            </div>

        </div>
        <div class="col-md-6">
            <h1>Board goes here</h1>
            {{> board}}
        </div>
    </div>
</div>